*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Short Stack', cursive;
    background:url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    
}
.navbar{
    background: #a560dd;
    font-size: 18px;
}

.container{
    padding: 100px 270px 50px;
}
.linea{
    width: 400px;
    height: 3px;
    background-color: #a560dd;
    border-radius: 10px;
}
.imagen-C{
    width: 50px;
}
.card{
    background: #EBEBEB;
    width: 350px;
    height: 300px;
    padding: 0;
}
.imagen-p{
    width: 318px;
    height: 210px;
    cursor: pointer;
}
.color-superpuesto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el color aquí (RGBA: Rojo, Verde, Azul, Transparencia) */
    opacity: 0;
    transition: opacity 0.3s ease; /* Añade una transición para suavizar el cambio de opacidad */
    background-image: url("../img/ojo.png"); /* Ruta al archivo del icono */
  background-size: 15%; /* Ajusta el tamaño del icono */
  background-repeat: no-repeat;
  background-position: center center;
  }
  
  .imagen-contenedor:hover .color-superpuesto {
    opacity: 1;
  }
  

.redes{
    list-style: none;
    cursor: pointer;
}
.footer{
    position: sticky;
    background-color: #221c4b;
    color: #fff;
    text-align: center;
}

