*{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background: rgb(252, 200, 140) !important;
    opacity: 100% !important;
    font-size: 20px;
}
.logo{
    width: 100px;
    margin-left: 7rem !important;
}
header{
    background:url(../img/spa00.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    min-height: 100vh;
}
.overlay{
    background:rgba(45, 52, 54,0.5);
    min-height:100vh;
}

button{
    background: rgb(255, 204, 0) !important;
    width: 9% !important;
    height:6%;
    border-radius: 10px;
}
.barra{
    background:rgb(98, 95, 66) ;
    width:100%;
    min-height: 15vh;
    
}
.lista{
    padding: 15px;
}
.formulario{
    background: rgba(205, 174, 0, 0.822);
   width: 50%;
   padding-left: 10rem !important;
   margin-left: 10rem !important;
}
.text{
    
    margin-right: 20vh !important;
}
.boton{
    background: 0 !important;
}
.d-block{
    width: 200px;
  height: 200px;
  
  margin-left: 10rem !important;
}
.d-block-shaki {
    width: 250px;
  height: 200px;
}